/* footer section */
footer{
    background: #11142d;
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.footer-icon{
    font-size: 1.3rem;
    position: relative;
    top: 5px;
}

@media (max-width: 450px){
    footer{
        font-size: .9rem;
        padding: 19px 10px;
    }
}
@media (max-width: 390px){
    footer{
        font-size: .8rem;
        padding: 18px 5px;
    }
}